#root {
    max-width: false;
    margin: 0 auto;
    text-align: center;
    flex: 1;
    justify-content: center;
}

.player-wrapper-horizontal {
  width: 640px;
}

@media (max-width:500px){
  .root {
    padding: 0;
  }

}
@media (min-width:850px){
  .root {
    padding: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .player-wrapper-horizontal {
    width: 400px;
  }
}

@media only screen and (max-width: 440px) {
  .player-wrapper-horizontal {
    width: 250px;
  }
}